a.out
*.ppm
*.o
/.vs/parallel-systems-project/v16/.suo
/.vs/parallel-systems-project/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/parallel-systems-project/v16
